body {
  //background-image: url(http://people.stfx.ca/x2011/x2011ane/info102/assignment1/background2.jpg);
  background-image: url(http://www.vicentephoto.com/v1site_images/backgrounds/tumblr_static_grey-background.jpg);
  /*background-image:url();*/

  background-color: grey;
  width=1000px;
}
h1 {
  color: black;
  font-size: 48px;
}
input {
  background-color: #bdbdbd;
}
/* input:not([type=button]) {
    border: 0px;
} */

input[type=button] {
  border: 2px #9c9c9c solid;
  border-radius: 5px;
}
title {
  background-color: red;
}
.gridSquare {
  width: 75px;
  height: 75px;
  padding: 0px;
  border: 1px solid #aaaaaa;
  float: left;
}
.subsquare {
  width: 23px;
  height: 23px;
  padding: 0px;
  border: 1px solid red;
  /*position: relative;*/
  float: left;
}
.row {
  border: 1px solid orange;
  clear: both;
}
* {
  font-family: Garamond;
  font-size: 18;
}
#playerInfo {
  position: absolute;
  width: 1300px;
  height: 100px;
  top: 150px;
  /* border:1px solid red; */

  float: both;
}
#meepleDiv {
  position: absolute;
  width: 700px;
  height: 100px;
  top: 100px;
  border: 1px solid red;
  float: both;
}
.tile {
  z-index: 1;
  position: absolute;
  float: left;
}
.meeple {
  z-index: 2;
  position: absolute;
  left: 200;
  top: 275;
}
#outerBoard {
  position: absolute;
  /* border:1px solid green; */

  overflow: auto;
  top: 100;
  width: 1300px;
  height: 1000px;
}
#drawnTileDiv {
  position: absolute;
  width: 700px;
  height: 100px;
  top: 150px;
  /* border:1px solid blue; */
}
